.consola {
  display: flex;
  flex-wrap: wrap;

}



@media (max-width:567px) and (min-width:320px){

  .consola > div {
  
  width: 50%;
  /* height: 250px; */
  margin: 1px auto;

  margin-bottom: 20px;
  display: initial;
  }
  
}


@media (max-width:991px) and (min-width:768px){

  .consola > div {
      
      width: 33%;
    
      text-align: initial;
      margin-bottom: 20px;
      display: initial;
    }

}

@media (max-width:767px) and (min-width:568px){

  .consola > div {
      
      width: 30%;
      text-align: initial;
      margin-bottom: 20px;
      display: initial;
    }
    
}


@media (max-width:1199px) and (min-width:992px){

  .consola > div {
    background-color: #f1f1f1;
    width: calc(21% - 1rem);
    margin: 10px ;
    text-align: initial;
    line-height: 17px;
    display: initial;
  }
   
} 

@media (max-width:1800px) and (min-width:1200px){
    .consola > div {
    background-color: #f1f1f1;
    width: 15% ;
    margin: 0px auto;
    text-align: initial;
    line-height: 35px;
    font-size: 14px;
    display: initial;
   
  }  
    
    
}
