/* :root {
    --raleway: 'raleway';
    --background-blanco: #F5F5F5;
    --fuente-barra:#A2A2A2;
    --fuente-banner:#FFFFFF;
    --fuente-productos:#464646;
    --fuente-productos-azul:#2A7AE4;
} */

.cabecera {
    width: 85%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .85rem;
    padding-bottom:.85rem;
}

.cabecera_logo{
    width: 9.3rem;   
    height: 2.5rem;
 }


.btn__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50%;

}

.btn__search--input {
    padding: .75rem 1rem;
    border-radius: 1.25rem;
    width: 21.8rem;
    border: none;
    background-color: var(--background-blanco);
    height: 2.5rem;
}

.btn__search--input:focus {
    outline: none;
}

.btn__search--buttom {
    margin-left: -50px;
    border: none;
    opacity: 50;
    background-color: var(--background-blanco)
}
/* 
.login {
    width: 9rem;
    height: 2.5rem;
    font-size: 16px;
    color: var(--fuente-productos-azul);
    background-color: white;
    border: 2px solid var(--fuente-productos-azul);
}


.btn__login--buttom {
    display: none;

} */


@media (max-width:567px) and (min-width:320px){

        
    .btn__search {

        margin-right: 10%;
        order: 3;

    }

    .btn__search--input {
        display:none;
    }

    /* .btn__search--input:focus {
        outline: none;
    } */

    .btn__search--buttom {

        margin-left: 33px;
        border: none;
        opacity: 50;
        background-color: var(--background-blanco)
        

        /* display: none; */
    }


    .cabecera {

        width: 90%;

    }

    .cabecera_logo{
        width: 7.5rem;        
        order: 0;
    }

}

@media (max-width:767px) and (min-width:568px){


         
    .btn__search {

        margin-right: 10%;
        order: 3;

    }

    .btn__search--input {
        display:none;
    }

    /* .btn__search--input:focus {
        outline: none;
    } */

    .btn__search--buttom {

        margin-left: 58px;
        border: none;
        opacity: 50;
        background-color: var(--background-blanco)
        
    }

    .cabecera {

        width: 90%;

    }

    .cabecera_logo{
        width: 7.5rem;        
        order: 0;
    }

}  

@media (max-width:991px) and (min-width:768px){

       
    .btn__search {

        /* margin-right: 10%; */
        /* order: 3; */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 31%;

    }

    .btn__search--input {
        padding: .75rem 1rem;
        border-radius: 1.25rem;
        width: 15.8rem;
        border: none;
        background-color: var(--background-blanco);
        height: 2.5rem;
    }

    .btn__search--input:focus {
        outline: none;
    }

    .btn__search--buttom {

        margin-left: 58px;
        margin-left: -33px;
        border: none;
        opacity: 50;
        background-color: var(--background-blanco)
        
    }


    .cabecera {

        width: 90%;

    }

    .cabecera_logo{
        width: 7.5rem;        
        /* order: 0; */
    }


}

@media (max-width:1199px) and (min-width:992px){

         
    .btn__search {

        /* margin-right: 10%; */
        /* order: 3; */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 31%;

    }

    .btn__search--input {
        padding: .75rem 1rem;
        border-radius: 1.25rem;
        width: 15.8rem;
        border: none;
        background-color: var(--background-blanco);
        height: 2.5rem;
    }

    .btn__search--input:focus {
        outline: none;
    }

    .btn__search--buttom {

        margin-left: 58px;
        margin-left: -33px;
        border: none;
        opacity: 50;
        background-color: var(--background-blanco)
        
    }

    .cabecera {

        width: 90%;

    }

    .cabecera_logo{
        width: 7.5rem;        
        /* order: 0; */
    }

}



@media (max-width:1800px) and (min-width:1200px){

            
    .btn__search {

        /* margin-right: 10%; */
        /* order: 3; */
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 31%;

    }

    .btn__search--input {
        padding: .75rem 1rem;
        border-radius: 1.25rem;
        width: 15.8rem;
        border: none;
        background-color: var(--background-blanco);
        height: 2.5rem;
    }

    .btn__search--input:focus {
        outline: none;
    }

    .btn__search--buttom {

        margin-left: 58px;
        margin-left: -33px;
        border: none;
        opacity: 50;
        background-color: var(--background-blanco)
        
    }

    .cabecera {

        width: 90%;

    }

    .cabecera_logo{
        width: 7.5rem;        
        /* order: 0; */
    }
 
}