.banner__btn {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 129px;
    height: 51px;
    left: 0px;
    top: 119px;
    background: #2A7AE4;

    margin: 105px auto auto 10px;
}

.banner__btn--link {
    position: static;
    width: 97px;
    height: 19px;
    left: 16px;
    top: 16px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;


}