.banner__titulo {
    
    width: 751px;
    height: 61px;
    left: 0px;
    top: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
    
    margin: 105px auto auto 10px;

}