.banner__img {


}


@media (max-width:567px) and (min-width:320px){
    .banner__img {
        
        display: grid;
        grid-column: auto;
        grid-row: auto auto auto;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../img/banner/banner.png);
        background-repeat: no-repeat;
        background-size: 768px 352px;
        border-radius: 0px;
        
        justify-items: center;
        justify-content: flex-start;
        
        width: 99vw;

        padding: 32px;
        justify-content: flex-start;

    }
}


@media (max-width:991px) and (min-width:768px){
    .banner__img {
        /* width: 95vw; */
        display: grid;
        grid-column: auto;
        grid-row: auto auto auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../img/banner/banner.png) ;
        background-repeat: no-repeat;
        background-size: 991px 352px;
        border-radius: 0px;
        
        justify-items: center;
        justify-content: flex-start;
        
        width: 99vw;

        padding: 32px;
        justify-content: flex-start;
        
    }

}

@media (max-width:767px) and (min-width:568px){

    .banner__img {
        /* width: 95vw; */
        display: grid;
        grid-column: auto;
        grid-row: auto auto auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../img/banner/banner.png) ;
        background-repeat: no-repeat;
        background-size: 768px 352px;
        border-radius: 0px;
        
        justify-items: center;
        justify-content: flex-start;
        
        width: 99vw;

        padding: 32px;
        justify-content: flex-start;
        
    }
    
}


@media (max-width:1199px) and (min-width:992px){
    .banner__img {
        /* width: 95vw; */
        display: grid;
        grid-column: auto;
        grid-row: auto auto auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../img/banner/banner.png) ;
        background-repeat: no-repeat;
        background-size: 1199px 352px;
        border-radius: 0px;
        
        justify-items: center;
        justify-content: flex-start;
        
        width: 99vw;

        padding: 32px;
        justify-content: flex-start;
        
    }

} 



@media (max-width:1800px) and (min-width:1200px){
  
    .banner__img {
        display: grid;
        grid-column: auto;
        grid-row: auto auto auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../img/banner/banner.png) ;
        background-repeat: no-repeat;
        background-size: 1440px 352px;
        border-radius: 0px;
        justify-items: center;

        position: static;
        width: 1440px;
        height: 352px;
        left: 0px;
        top: 115px;
        /* padding: 32px; */
        justify-content: flex-start;
        
        width: 99vw;
    }
} 
