

@media (max-width:567px) and (min-width:320px){
    

    .btn__search {
        order: 3;
        
        display: flex;
        
        max-width: 3vw;
        height: 17px;
        
    }

    .form__search {
        max-width: 17px;
        height: 17px;
    }

    .btn__search--input {
        display: none;
    }

    .btn__search--buttom {
        max-width: 22px;
        height: 22px;
    }

    .search__img {
        padding: 0px 0px 7px 0px;
        margin: 0px 0px 7px -4px;
    }

    
}


@media (max-width:991px) and (min-width:768px){


    .btn__search {
        order: 2;
        
        display: flex;
        
        max-width: 49vw;
        height: 28px;
        
    }

    .btn__search input[type=text]{
        width:231px;
        height:21px;
        border: solid 1px black;
        vertical-align: super;
    }


    .btn__search--buttom {
        margin: auto;
    }
    
    .search__img{
        color: #f2f2f2;
        float: right;
        padding: 1px 1px 6px 6px;
        margin: 0px 0px 0px 0px !important;
        font-size: 12px;
        border: none;
        cursor: pointer;
        Width: 25px;
        Height: 25px;

    }

}

@media (max-width:767px) and (min-width:568px){


    .btn__search {
        order: 3;
        
        display: flex;
        
        max-width: 3vw;
        height: 17px;
        
    }

    .form__search {
        max-width: 17px;
        height: 17px;
    }

    .btn__search--input {
        display: none;
    }

    .btn__search--buttom {
        max-width: 22px;
        height: 22px;
    }

    .search__img {
        padding: 0px 0px 7px 0px;
        margin: 0px 0px 7px -4px;
    }


    
}

    
@media (max-width:1199px) and (min-width:992px){

 
    .btn__search {
        order: 2;
        
        display: flex;
        
        max-width: 49vw;
        height: 28px;
        
    }

    .btn__search input[type=text]{
        width:231px;
        height:21px;
        border: solid 1px black;
        vertical-align: super;
    }


    .btn__search--buttom {
        margin: auto;
    }
    
    .search__img{
        color: #f2f2f2;
        float: right;
        padding: 1px 1px 6px 6px;
        margin: 0px 0px 0px 0px !important;
        font-size: 12px;
        border: none;
        cursor: pointer;
        Width: 25px;
        Height: 25px;

    }
    
} 


@media (max-width:1800px) and (min-width:1200px){

 
    .btn__search {
        order: 2;
        display: flex;
        max-width: 49vw;
        height: 28px;

        
    }

    .btn__search input[type=text]{
        width:231px;
        height:21px;
        border: solid 1px black;
        vertical-align: super;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      
        display: flex;
        align-items: center;
        
        color: #A2A2A2;
    }


    .btn__search--buttom {
        margin: auto;
    }
    
    .search__img{
        color: #f2f2f2;
        float: right;
        padding: 1px 1px 6px 6px;
        margin: 0px 0px 0px 0px !important;
        font-size: 12px;
        border: none;
        cursor: pointer;
        Width: 25px;
        Height: 25px;

    }

} 

