
.cabecera {
    
    display: flex;
    align-items: stretch;

}


.cabecera > div {
    
    margin: 10px;
    font-size: 30px;
    
  }



.logos { 
    flex-grow: 1;
}
.btn__search { 
    flex-grow: 1;  
}
.btn__login { 
    flex-grow: 3;
}


@media (max-width:567px) and (min-width:320px){
    .cabecera {
        width: 95vw;
        
    }
}


@media (max-width:991px) and (min-width:768px){
    .cabecera {
        width: 95vw;
        
    }

}

@media (max-width:767px) and (min-width:568px){

    .cabecera {
        width: 95vw;
        
    }
    
}


    @media (max-width:1199px) and (min-width:992px){
    .cabecera {
        width: 95vw;
        
    }
} 



@media (max-width:1800px) and (min-width:1200px){
  
    .cabecera {

        text-align: center;
        width: 95vw;

        
    }
} 
