.diverso {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
  
  /* height: 250px; */
}



@media (max-width:567px) and (min-width:320px){

  .diverso > div {
  /* background-color: yellow; */
  width: 50%;
  /* height: 250px; */
  margin: 1px auto;
  /* text-align: center; */
  /* line-height: 75px; */
  /* font-size: 30px; */
  margin-bottom: 20px;
  display: initial;
  }
  
}


@media (max-width:991px) and (min-width:768px){

  .diverso > div {
      /* background-color: blue; */
      width: 33%;
      /* margin: 10px auto; */
      text-align: initial;
      /* line-height: 75px; */
      /* font-size: 30px; */
      margin-bottom: 20px;
      display: initial;
    }

}

@media (max-width:767px) and (min-width:568px){

  .diverso > div {
      /* background-color: red; */
      width: 30%;
      /* margin: 10px; */
      text-align: initial;
      /* line-height: 75px; */
      /* font-size: 30px; */
      margin-bottom: 20px;
      display: initial;
    }
    
}


@media (max-width:1199px) and (min-width:992px){

  .diverso > div {
    background-color: #f1f1f1;
    width: calc(21% - 1rem);
    margin: 10px ;
    text-align: initial;
    line-height: 17px;
    /* font-size: 30px; */
    display: initial;
  }
   
} 

@media (max-width:1800px) and (min-width:1200px){
    .diverso > div {
    background-color: #f1f1f1;
    /* width: calc(15% - 5rem); */
    width: 15% ;
    margin: 0px auto;
    text-align: initial;
    line-height: 35px;
    font-size: 14px;
    display: initial;
   
  }  
    
    
}
