
@media (max-width:567px) and (min-width:320px){

    
    .diverso__imagen {
        
        /* width: 156px; */
        width: 45vw;
        height: 174px;

        background: url(.jpg);

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        /* margin: 8px 0px; */
	
	
    } 
    
   
  
}


@media (max-width:991px) and (min-width:768px){

    
    .diverso__imagen {
    
    /* width: 176px; */
    width: 32vw;
    height: 174px;
    left: 0px;
    top: 0px;

    background: url(.jpg);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    /* margin: 8px 0px; */
	
	
    } 
    
   

}

@media (max-width:767px) and (min-width:568px){

    
    .diverso__imagen {
    
    /* width: 176px; */
    width: 29vw;
    height: 174px;
    left: 0px;
    top: 0px;

    background: url(.jpg);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    /* margin: 8px 0px; */
	
	
    } 
    
   
    
}


@media (max-width:1199px) and (min-width:992px){

    
    .diverso__imagen {
    
    /* width: 176px; */
    width: 20vw;
    height: 174px;
    left: 0px;
    top: 0px;

    background: url(.jpg);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    /* margin: 8px 0px; */
	
	
    } 
    
   
   
} 

@media (max-width:1800px) and (min-width:1200px){
    
    .diverso__imagen {
    
    /* width: 176px; */
    width: 16vw;
    height: 174px;
    left: 0px;
    top: 0px;

    background: url(.jpg);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    /* margin: 8px 0px; */
	
	
    } 
    
    
}
