:root {
    --raleway: 'raleway' ;
    --background-blanco: #F5F5F5;
    --fuente-barra: #A2A2A2;
    --fuente-producto: #464646;
    --fuente-banner: #FFFFFF;
    --fuente-producto-azul: #2A7AE4;

    
}



body {
    font-family: var(--raleway);
    font-weight: 700;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cabecera-container {
    width: 85%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .85rem;
    padding-bottom:.85rem;
}