/* ---------------------------------------- */
/*            FONTS                         */
/* ---------------------------------------- */

* {
  font-family: "Raleway", "Chalet", "Arial", "Helvetica", "sans-serif";
  /* font-family: "Raleway", "sans-serif"; */
}

/* ---------------------------------------- */
/*            CSS VARIABLES                 */
/* ---------------------------------------- */


/* css variables */ 
/* @import url(./partials/_variables.css); */

/* import global styling */ 
/* @import url(./partials/_global.css); */


* {
  box-sizing: border-box;
}

:root {
  --raleway: 'raleway';
  --background-blanco: #F5F5F5;
  --fuente-barra:#A2A2A2;
  --fuente-banner:#FFFFFF;
  --fuente-productos:#464646;
  --fuente-productos-azul:#2A7AE4;
}



.clearfix {
  overflow: auto;
}

body {

    position: relative;
    background: #FFFFFF; 

    font-family:'raleway';
    font-weight:700;
    box-sizing: border-box;  
  
  }
  
  header{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
  }
  

main {
    
   
  }


  a:link, a:visited {

    text-decoration: none;
    cursor: auto;
}