.contacto__contenido--acerca > * {
    /* background: red; */
    -webkit-flex-basis: 25%;    
    -ms-flex-basis: 25%;
    flex-basis: 25%;
    height: 19px;
    margin: 15px auto;

    /* position: static; */
    /* width: 176px;
     */
    /* left: 0px;
    top: 0px; */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    /* identical to box height */
    
    /* Preto/100% */
    color: #464646;
    
    
    /* Inside auto layout */
    /* flex: none;
    order: 0;
    align-self: stretch;     */
}