contacto {
    background: #EAF2FD;
}

.contacto__conenido--form {
    
    /* width: 560px;
    height: 240px; */

    -webkit-flex-basis: 50%;    
    -ms-flex-basis: 50%;
    flex-basis: 50%;
    margin: 30px auto;

}

input {
    /* width: 560px; */
    height: 56px;
    width: 32vw;
    left: calc(50% - 560px/2);
    top: 0px;

    /* Preto/branco */
    background: #FFFFFF;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

textarea {
    position: static;
    width: 560px;
    height: 82px;
    left: calc(50% - 560px/2);
    top: 0px;

    /* Preto/branco */
    background: #FFFFFF;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 8px 0px;
}

label {
    position: static;
    width: 560px;
    height: 19px;
    left: 0px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */

    /* Preto/100% */
    color: #464646;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}


  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  textarea {
    display: block;
    width: 32vw;
  }

  .contacto__contenido--btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
    position: static;
    width: 144px;
    height: 51px;
    left: 0px;
    top: 189px;
    
    /* Azul/100% */
    background: #2A7AE4;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;

    margin-top: 10px ;
  }